.homework03-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form-container {
  align-items: center;
  width: 590px;
  height: 298px;
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 4px 0px 0px 0px;
  background-color: white;
  opacity: 1;
  position: relative;
  top: 3px;
  left: -28px;
}
